################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Logs chat record extractor/bin
/Logs chat record extractor/obj
/Logs chat record extractor.sln.DotSettings.user
/.vs/Logs chat record extractor
/.idea/.idea.Logs chat record extractor/.idea
/Logs chat record extractor WPF/bin
/Logs chat record extractor WPF/obj
/.vs/Logs chat record extractor WPF
/.idea/.idea.Logs chat record extractor WPF/.idea